### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#count unique player identifiers from SN column
total_players = purchase_data.SN.nunique()
#make into df with desired heading 
total_players_table = pd.DataFrame({"Total Players": [total_players]})
#show 
total_players_table.head(1)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#find the mean of all purchase prices logged and store as variable
average_price = purchase_data["Price"].mean()
#count the total number of purchases (every time a price was logged) and store as variable
number_of_purchases = purchase_data["Price"].count()
#count the number of unique item ids and store as variable
unique_items = purchase_data["Item ID"].nunique()
#calculate total revenue (sum total of all items priced as sold) and store as variable
total_revenue = purchase_data["Price"].sum()
#create summary table of variables with desired names
summary_table = pd.DataFrame({"Average Price": [average_price],
                              "Number of Purchases": [number_of_purchases],
                              "Number of Unique Items": [unique_items],
                              "Total Revenue": [total_revenue]})
#show
summary_table

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#unique_players = purchase_data["SN"].nunique()
unique = purchase_data.groupby('Gender').nunique()
total_females = unique.iloc[0,1]
total_other = unique.iloc[2,1]
male_percent = 100 * total_males / total_players
female_percent = 100 * total_females / total_players
other_percent = 100 * total_other / total_players
gender_summary = pd.DataFrame({"Total Males": [total_males],
                            "Total Females": [total_females],
                              "Total Other": [total_other],
                              "Males Percent": [male_percent],
                                "Females Percent": [female_percent],
                                "Other Percent": [other_percent]})
#show
gender_summary

NameError: name 'total_males' is not defined

gender = df.domain.drop_duplicates()

In [ ]:
unique_players = purchase_data["SN"].nunique()
unique

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
male_total = purchase_data.groupby('Gender')['Price'].sum()['Male']

female_total = purchase_data.groupby('Gender')['Price'].sum()['Female']

other_total = purchase_data.groupby('Gender')['Price'].sum()['Other / Non-Disclosed']

male_average = purchase_data.groupby('Gender')['Price'].mean()['Male']

female_average = purchase_data.groupby('Gender')['Price'].mean()['Female']

other_average = purchase_data.groupby('Gender')['Price'].mean()['Other / Non-Disclosed']

gender_breakdown = pd.DataFrame({"Male Purchases": [male_total],
                              "Female Purchases": [female_total],
                              "Other Purchases": [other_total],
                              "Male Average": [male_average],
                                "Female Average": [female_average],
                                "Other Average": [other_average]})
gender_breakdown

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [57]:

purchase_data
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29",
                "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins,
                                        labels=age_bin_names)
purchase_data
demo_breakdown = purchase_data.groupby('Age Group').size() \
  .reset_index(name='Demographics')


pct_df = demo_breakdown['Demographics'] / demo_breakdown['Demographics'].sum()
pct_df

0    0.029487
1    0.035897
2    0.174359
3    0.467949
4    0.129487
5    0.093590
6    0.052564
7    0.016667
Name: Demographics, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
purchase_data
new_df = purchase_data.groupby('Age Group').agg({'Price': 'mean', 'Price': 'sum'})
new_df

             Price
Age Group
<10          77.13
10-14        82.78
15-19       412.89
20-24      1114.06
25-29       293.00
30-34       214.00
35-39       147.67
40+          38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame